@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-open {
    max-height:100dvh;
    overflow: hidden;
    transition: max-height 0.7s ease-in-out;
    height:100dvh;
    background-color: #000000;
  }
  
  .nav-closed {
    max-height: 0px; /* Use a large enough value to cover the expanded menu */
    overflow:hidden;
    transition: max-height 0.7s ease-in-out;
    height:100dvh;
    background-color: #000000;
  }
  
.scroll-margin-top {
  scroll-margin-top: 4rem; /* Adjust this value according to your nav bar height */
} 

.scroll-margin-top-md {
  scroll-margin-top: 0rem; /* Adjust this value according to your nav bar height */
}